.navbar {
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
     .slogan{
        font-weight: 600;
     }
     .mode-switch {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      cursor: pointer;
     }
}

.search {
   padding: 0 2rem;
   margin-top: 4rem;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   .input-box{
      padding: 1rem 1rem;
      border-radius: 5px;
      background-color: $dark-blue;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
          
      input {
         border: none;
         outline: none;
         background-color: $dark-blue;
      }
   }
   .search_select {
      padding: 1rem;
      border-radius: 5px;
      background-color: $dark-blue;
      border: none;
      cursor: pointer;
   }
}

.countries {
   padding: 0 2rem;
   margin-top: 2rem;
   display: flex;
   flex-direction: row;   
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 5.5rem;
   .country  {
      width: 300px;
      height: 350px;
      background-color: $dark-blue;
      border-radius: 10px;
      overflow: hidden;
      .country_img  {
         width: 100%;
         height: 50%;
         display: block;
         object-fit: cover;
      }
      .country_details {
         padding: 1rem;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: center;
         gap: 5px;
         p {
            font-weight: 600;
         }
         .country_title {
            margin-bottom: 1rem;
            font-weight: 800;
         }
         .value {
            font-weight: 300;
         }
         
      }
   }
}

.single_country {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   .country_img{
      width: 560px;
      height: 400px;
   }
   .country_details {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      padding-left: 5rem;

   
      .country_props {
         display: grid;
         grid-template-columns: 1fr 1fr;  
         gap: 1rem;  
         p {            
            font-weight: 600;
            margin: .5rem 0;
            .value {
               font-weight: 300;
               font-size: .9rem;
            }
         }         
      }
      
      .border-link{
         width: 100px;
         height: 30px;
         background-color:$dark-blue;
         font-size: .8rem;
         border-radius: 5px;
         display: flex;
         align-items: center;
         justify-content: center;         
      }
   }
}

.borders-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   .value {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 1rem;
      flex: 3;
      .value {
         text-align: center;
      }
   }
}

.btn { 
   padding: .5rem 2rem;
   border-radius: 5px;
   background-color: $dark-blue;
   color: $white;
   border:none;
   box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.8);
   margin-bottom: 20px;
   cursor: pointer;
}
